body {
    background-color: #121212; /* Fundo escuro */
  }
  
  .card {
    border-radius: 10px; /* Bordas arredondadas */
    border: none; /* Remove a borda padrão */
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .form-control {
    background-color: #333; /* Fundo mais escuro para os inputs */
    border-color: #444; /* Borda ligeiramente mais clara */
  }
  